<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Environments URLs-->
		<add key="ApplicationUrl" value="https://www.saucedemo.com/"/>

		<!--Credentials-->
		<add key="User" value="standard_user"/>
		<add key="Password" value="c2VjcmV0X3NhdWNl"/>
		
	</appSettings>
</configuration>
